.list {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 345px;
  padding: 0;
  cursor: pointer;

  &.active .children {
    max-height: 345px;
  }

  .children {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .title {
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 81%;
  }

  .arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--btn-arrow-background);
    transform: translate(-18px, 20px);
    pointer-events: none;

    transition: all 0.3s;
  }
  &.active .arrow {
    transform: translate(-18px, 20px) rotate(180deg);
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-38px, 14px);
    cursor: pointer;
    width: 20px;
    height: 20px;

    span {
      position: absolute;
      left: 50%;
      top: 25%;
      display: block;
      height: 11px;
      width: 1.5px;
      background-color: #555555;
      border-radius: 8px;

      &:first-child {
        transform: rotate(45deg) translate(-0.5px, 0);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
